<div class=container>
  <h1>All The Best Restaurants Are Here!</h1>
  <% @restaurants.each do |restaurant| %>
  <h3><%= link_to "#{restaurant.name} (#{restaurant.category.capitalize} Cuisine)", restaurant%></h3>
  <p><%= "#{restaurant.address} || Call now: #{restaurant.phone_number}"%></p>
  <% end %>
</div>
